{% load static %}
<html>
    <head>
        <title>Mini Facebook</title>
        <link rel="stylesheet" href="{% static 'styles-mini_fb.css' %}">
    </head>
    <body>
        <header>
            <h1>Welcome to mini Facebook</h1>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'show_all_profiles' %}">Show All Profiles</a>
                    </li>
                    <li>
                        <a href="{% url 'create_profile_form' %}">Create Profile</a>
                </ul>
            </nav>
        
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>
        
        <footer>
            <p>All rights reserved&copy; Harris Yu </p>
        </footer>
    

    </body>
</html>