{% extends 'mini_fb/base.html' %}

{% block content %}
<h1>All Profiles</h1>

<div class = "profilesContainer">
    {% for profile in profiles %}
    <div class = "individualProfile"  >
        <a href="{% url 'show_profile' profile.pk %}">
            <img src="{{ profile.profile_image_url }}" alt="{{ profile.firstName }} {{ profile.lastName }}'s picture" style="max-width: 100%; height: auto;">
            <h2>{{ profile.firstName }} {{ profile.lastName }}</h2>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}